# Copy this file to behat.yml
# $ cp behat.yml.dist behat.yml

default:
    autoload:
        '': '%paths.base%/design' # autoload for behat things
    suites:
        default:
            paths:
                - 'design/Features' # This is where you will put your *.feature files
            contexts:
                - Design\App\Contexts\YourContext # This is where you will put your contexts
    extensions:
        FriendsOfBehat\SymfonyExtension: { }
